<!DOCTYPE html>
{% load static %}
{% load i18n %}
{% load define_action %}

<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <title>{% block title %}Мониторинговый центр{% endblock %}</title>
    {% block css_header_content %}
        <!-- import CSS -->
        {% block css_header_extend_pre %}
        {% endblock %}
        {% block css_header_primevue %}
            <link rel="stylesheet" href="{% static 'vue_utils/prime-icons/primeicons.css' %}">
            <link rel="stylesheet" href="{% static 'vue_utils/primevue/css/primevue.min.css' %}">
            <link rel="stylesheet" href="{% static 'vue_utils/primevue/css/nova/theme.min.css' %}">
        {% endblock %}
        {% block css_header_primeflex %}
            <link rel="stylesheet" href="{% static 'vue_utils/primeflex/primeflex.min.css' %}">
        {% endblock %}
        {% block css_header_theme %}
            <link rel="stylesheet" href="{% static 'vue_utils/theme.css' %}">
        {% endblock %}
        {% block css_header_extend %}
        {% endblock %}
    {% endblock %}
    {% block js_header_content %}
        <!-- import JavaScript -->
        {% block js_header_vue %}
            <script src="{% static 'vue_utils/vue/vue.global.js' %}"></script>
        {% endblock %}
        {% block js_header_axios %}
            <script src="{% static 'vue_utils/axios/axios.min.js' %}"></script>
        {% endblock %}
        {% block js_header_primevue %}
            {% if primevue_base is None or primevue_base %}
                {% block js_header_primevue_base %}
                    <script src="{% static 'vue_utils/primevue/js/utils.min.js' %}"></script>
                    <script src="{% static 'vue_utils/primevue/js/ripple.min.js' %}"></script>
                    <script src="{% static 'vue_utils/primevue/js/api.min.js' %}"></script>
                    <script src="{% static 'vue_utils/primevue/js/config.min.js' %}"></script>
                    <script src="{% static 'vue_utils/primevue/js/styleclass.min.js' %}"></script>
                    {% for module in primevue_base|create_default_list:'checkbox,cascadeselect,button,inputtext,inputnumber,inputmask,inputswitch,password,radiobutton,menu,splitbutton,sidebar,dialog,inlinemessage,textarea,calendar,selectbutton,slider,togglebutton,tristatecheckbox,tooltip,message,fileupload,image' %}
                        {% with 'vue_utils/primevue/js//'|add:module|add:'.min.js' as vue_script %}
                            <script src="{% static vue_script %}"></script>
                        {% endwith %}
                    {% endfor %}
                {% endblock %}
            {% endif %}
            {% if primevue_menu is None or primevue_menu %}
                {% block js_header_primevue_menu %}
                    {% for module in primevue_menu|create_default_list:'breadcrumb,contextmenu,megamenu,panelmenu,tabmenu,steps,menubar' %}
                        {% with 'vue_utils/primevue/js//'|add:module|add:'.min.js' as vue_script %}
                            <script src="{% static vue_script %}"></script>
                        {% endwith %}
                    {% endfor %}
                {% endblock %}
            {% endif %}
            {% if primevue_panels is None or primevue_panels %}
                {% block js_header_primevue_panels %}

                    {% for module in primevue_panels|create_default_list:'panel,accordion,accordiontab,card,splitter,splitterpanel,tabview,toolbar,dock' %}
                        {% with 'vue_utils/primevue/js//'|add:module|add:'.min.js' as vue_script %}
                            <script src="{% static vue_script %}"></script>
                        {% endwith %}
                    {% endfor %}
                {% endblock %}
            {% endif %}
            {% if primevue_overlay is None or primevue_overlay %}
                {% block js_header_primevue_overlay %}
                    {% for module in primevue_overlay|create_default_list:'dialog,sidebar,tooltip,overlayeventbus,overlaypanel' %}
                        {% with 'vue_utils/primevue/js//'|add:module|add:'.min.js' as vue_script %}
                            <script src="{% static vue_script %}"></script>
                        {% endwith %}
                    {% endfor %}
                {% endblock %}
            {% endif %}
            {% if primevue_listings is None or primevue_listings %}
                {% block js_header_primevue_listings %}
                    {% for module in primevue_listings|create_default_list:'listbox,dropdown,multiselect,paginator' %}
                        {% with 'vue_utils/primevue/js//'|add:module|add:'.min.js' as vue_script %}
                            <script src="{% static vue_script %}"></script>
                        {% endwith %}
                    {% endfor %}
                {% endblock %}
            {% endif %}
            {% if primevue_listings is None or primevue_listings and primevue_datatable is None or primevue_datatable %}
                {% block js_header_primevue_datatable %}
                    {% for module in primevue_datatable|create_default_list:'column,columngroup,row,datatable,dataview,dataviewlayoutoptions,orderlist,picklist,timeline,tree,treetable' %}
                        {% with 'vue_utils/primevue/js//'|add:module|add:'.min.js' as vue_script %}
                            <script src="{% static vue_script %}"></script>
                        {% endwith %}
                    {% endfor %}
                {% endblock %}
            {% endif %}
            {% if primevue_additional is None or primevue_additional %}
                {% block js_header_primevue_additional %}
                    {% for module in primevue_additional|create_default_list:'knob,rating,chip,chips,colorpicker,organizationchart,avatar,badgedirective,blockui,inplace,scrolltop,skeleton,progressbar,progressspinner,tag,speeddial,virtualscroller' %}
                        {% with 'vue_utils/primevue/js//'|add:module|add:'.min.js' as vue_script %}
                            <script src="{% static vue_script %}"></script>
                        {% endwith %}
                    {% endfor %}

                {% endblock %}
            {% endif %}
            {% if primevue_media is None or primevue_media %}
                {% block js_header_primevue_media %}
                    <script src="{% static 'vue_utils/primevue/js/carousel.min.js' %}"></script>
                    <script src="{% static 'vue_utils/primevue/js/galleria.min.js' %}"></script>
                {% endblock %}
            {% endif %}
            {% if primevue_chart is None or primevue_chart %}
                {% block js_header_primevue_chart %}
                    <script src="{% static 'vue_utils/charts/Chart.min.js' %}"></script>
                    <script src="{% static 'vue_utils/primevue/js/chart.min.js' %}"></script>
                {% endblock %}
            {% endif %}
            {% if mitt is None or mitt or primevue_toast is None or primevue_toast or primevue_confirmation is None or primevue_confirmation or primevue_terminal is None or primevue_terminal %}
                {% block js_header_mitt %}
                    <script src="{% static 'vue_utils/mitt/mitt.umd.js' %}"></script>
                    {% if primevue_toast is None or primevue_toast %}
                        {% block js_header_primevue_toast %}
                            <script src="{% static 'vue_utils/primevue/js/toasteventbus.min.js' %}"></script>
                            <script src="{% static 'vue_utils/primevue/js/usetoast.min.js' %}"></script>
                            <script src="{% static 'vue_utils/primevue/js/toastservice.min.js' %}"></script>
                            <script src="{% static 'vue_utils/primevue/js/toast.min.js' %}"></script>
                        {% endblock %}
                    {% endif %}
                    {% if primevue_confirmation is None or primevue_confirmation %}
                        {% block js_header_primevue_confirmation %}
                            <script src="{% static 'vue_utils/primevue/js/confirmationeventbus.min.js' %}"></script>
                            <script src="{% static 'vue_utils/primevue/js/useconfirm.min.js' %}"></script>
                            <script src="{% static 'vue_utils/primevue/js/confirmationservice.min.js' %}"></script>
                            <script src="{% static 'vue_utils/primevue/js/confirmpopup.min.js' %}"></script>
                            <script src="{% static 'vue_utils/primevue/js/confirmdialog.min.js' %}"></script>
                        {% endblock %}
                    {% endif %}
                    {% if primevue_terminal is None or primevue_terminal %}
                        {% block js_header_primevue_terminal %}
                            <script src="{% static 'vue_utils/primevue/js/terminalservice.min.js' %}"></script>
                            <script src="{% static 'vue_utils/primevue/js/terminal.min.js' %}"></script>
                        {% endblock %}
                    {% endif %}
                {% endblock %}
            {% endif %}
        {% endblock %}

        {% block js_header_extend %}
        {% endblock %}
    {% endblock %}
</head>
<body>
<div class="container" id="APP">
    {% block main_content %}
        <router-link to="/foo">Go to Foo</router-link>
        {% block main_content_mainmenu %}
            <p-menubar :model="main_menu_items">
                <template #start>
                    <img alt="logo" src="{% static 'vue_utils/primevue/images/logo.svg' %}" height="40" class="p-mr-2">
                </template>
                <template #end>
                    <p-inputtext placeholder="Search" type="text"/>
                    <p-button label="Logout" icon="pi pi-power-off" :style="{'margin-left': '0 .5em'}"/>
                </template>
            </p-menubar>
        {% endblock %}
        <confirmdialog></confirmdialog>
        <toast position="top-right"></toast>
        {% block main_content_content %}
            <p-panel header="Header Panel">
                <div class="p-grid">
                    <div class="p-col-4">
                        <p-inputtext v-model="test_value"></p-inputtext>
                    </div>
                    <div class="p-col">
                        <p-inputnumber v-model="test_value"></p-inputnumber>
                    </div>
                    <div class="p-col">
                        <p-button label="Submit" icon="pi pi-check" @click="delete_confirm()"/>
                    </div>
                </div>
            </p-panel>
        {% endblock %}
        <router-view></router-view>
    {% endblock %}
</div>
{% block js_body_content %}
    {% if vue_router is None or vue_router %}
        {% block js_header_vue_router %}
            <script src="{% static 'vue_utils/vue_router/vue-router.global.prod.js' %}"></script>
        {% endblock %}
    {% endif %}
{% endblock %}
{% block css_footer %}
{% endblock %}
{% block js_footer %}
{% endblock %}
{% block vue_app_mainmenu %}
    <script>
        function get_main_menu() {
            return [
                {
                    label: 'File',
                    icon: 'pi pi-fw pi-file',
                }
            ]
        }
    </script>
{% endblock %}
{% block vue_app_config %}
    <script>
        const APP_CONFIG = {}
        const APP_COMPONENTS = {}
    </script>
{% endblock %}
{% block vue_app_base_config %}
    <script>
        const BASE_APP_COMPONENTS = {
            {% for module in primevue_base|create_default_list:'checkbox,cascadeselect,button,inputtext,inputnumber,inputmask,inputswitch,password,radiobutton,menu,splitbutton,sidebar,dialog,inlinemessage,textarea,calendar,selectbutton,slider,togglebutton,tristatecheckbox,tooltip,message,fileupload' %}
                'p-{{ module }}': primevue.{{ module }},
            {% endfor %}
            {% for module in primevue_overlay|create_default_list:'overlayeventbus, overlaypanel,dialog,sidebar,tooltip' %}
                'p-{{ module }}': primevue.{{ module }},
            {% endfor %}
            {% for module in primevue_datatable|create_default_list:'knob,rating,chip,chips,colorpicker,organizationchart,avatar,badgedirective,blockui,inplace,scrolltop,skeleton,progressbar,progressspinner,tag' %}
                'p-{{ module }}': primevue.{{ module }},
            {% endfor %}
            {% for module in primevue_panels|create_default_list:'panel,accordion,accordiontab,card,splitter,splitterpanel,tabview,toolbar' %}
                'p-{{ module }}': primevue.{{ module }},
            {% endfor %}
            {% for module in primevue_listings|create_default_list:'listbox,dropdown,multiselect,paginator' %}
                'p-{{ module }}': primevue.{{ module }},
            {% endfor %}
            {% for module in primevue_menu|create_default_list:'breadcrumb,contextmenu,megamenu,panelmenu,tabmenu,steps,menubar' %}
                'p-{{ module }}': primevue.{{ module }},
            {% endfor %}
            {% for module in primevue_datatable|create_default_list:'column,columngroup,row,datatable,dataview,dataviewlayoutoptions,orderlist,picklist,timeline,tree,treetable' %}
                'p-{{ module }}': primevue.{{ module }},
            {% endfor %}
            {% if primevue_chart is None or primevue_chart %}
                'p-chart': primevue.chart,
            {% endif %}
            {% for module in primevue_media|create_default_list:'carousel,galleria' %}
                'p-{{ module }}': primevue.{{ module }},
            {% endfor %}
            {% if primevue_confirmation is None or primevue_confirmation %}
                'confirmdialog': primevue.confirmdialog,
            {% endif %}
            {% if primevue_toast is None or primevue_toast %}
                'toast': primevue.toast,
            {% endif %}
        }

        const APP_BASE_CONFIG = {
            delimiters: ["@{", "}@"],
            data() {
                return {
                    test_value: 0,
                    main_menu_items: get_main_menu(),
                }
            },
            created() {
                console.log('created', this)
            },
            components: {},
            methods: {
                delete_confirm() {
                    this.$confirm.require({
                        message: 'Are you sure you want to proceed?',
                        header: 'Confirmation',
                        icon: 'pi pi-exclamation-triangle',
                        accept: () => {
                            //callback to execute when user confirms the action
                            console.log('TEST')
                            this.$toast.add({
                                severity: 'info',
                                summary: 'Confirmed',
                                detail: 'Record deleted',
                                life: 3000
                            });
                        },
                        reject: () => {
                            //callback to execute when user rejects the action
                        }
                    });
                },
            },
            mounted() {
            },
        }
    </script>
{% endblock %}
{% block vue_app_init %}
    <script>
        const my_app_config = {...APP_BASE_CONFIG, ...APP_CONFIG}
        const my_components = {...BASE_APP_COMPONENTS, ...APP_COMPONENTS}
        const my_app = Object.create(my_app_config)
    </script>
{% endblock %}
{% block js_header_vue_router_config %}
    <script>
        function vue_router_config() {
            return []
        }

    </script>
{% endblock %}
{% block vue_app %}
    <script>
        const app = Vue.createApp(my_app);
        {% if vue_router is None or vue_router %}
            {% block js_header_vue_router_init %}
                const routes = vue_router_config();
                const router = VueRouter.createRouter({
                    history: VueRouter.createWebHistory(),
                    routes,
                });
                app.use(router)
            {% endblock %}
        {% endif %}
        app.use(primevue.config.default)
        {% if primevue_confirmation is None or primevue_confirmation %}
            app.use(primevue.confirmationservice)
        {% endif %}
        {% if primevue_toast is None or primevue_toast %}
            app.use(primevue.toastservice);
        {% endif %}

        for (let com_name in my_components) {
            app.component(com_name, my_components[com_name])
        }

        app.mount('#APP')
    </script>
{% endblock %}
</body>
</html>