{% extends 'vue_utils/base_template.html' %}
{% load static %}
{% load i18n %}

{% block css_header_content %}
    {% block css_header_elementui %}
        <link rel="stylesheet" href="{% static 'vue_utils/element_ui/css/index.css' %}">
    {% endblock %}
    {% block css_header_extend %}
    {% endblock %}
{% endblock %}

{% block js_header_content %}
    {% block js_header_fontawesome %}
        <script src="https://kit.fontawesome.com/4c4a7dca97.js"></script>
    {% endblock %}
    {% block js_header_vue %}
        <script src="{% static 'vue_utils/vue/vue.global.js' %}"></script>
    {% endblock %}
    {% block js_header_elementui %}
        <script src="{% static 'vue_utils/element_ui/js/index.full.js' %}"></script>
    {% endblock %}
    {% block js_header_charts %}
        <script src="{% static 'vue_utils/charts/Chart.min.js' %}"></script>
    {% endblock %}
    {% block js_header_extend %}
    {% endblock %}
{% endblock %}

{% block body_content %}
    <div class="container" id="APP">
        {% block main_content %}
            <header class="blog-header py-3 bd-navbar noprint">
                <div class="row flex-nowrap justify-content-between align-items-center">
                    <div class="dropdown col-2">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="fas fa-align-justify"></span>
                        </button>
                        <nav class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            {% block navigation_content %}
                            {% endblock %}
                        </nav>
                    </div>
                    <div class="col-6 text-center">
                        {% block page_title %}
                        {% endblock %}
                    </div>
                </div>
            </header>
            <div class="container">
                {% block content %}
                    <el-button>TEST</el-button>
                {% endblock %}
            </div>
        {% endblock %}
    </div>
    {% block css_footer %}
    {% endblock %}
    {% block js_footer %}
    {% endblock %}
    {% block vue_app_config %}
        <script>
            const APP_CONFIG = {}
        </script>
    {% endblock %}
    {% block vue_app_init %}
        <script>
            const app = Vue.createApp(APP_CONFIG)
            window.main_app = app;
            app.use(ElementPlus, {size: 'small', zIndex: 3000});
        </script>
    {% endblock %}
    {% block vue_app %}
        <script>
            window.main_app.mount('#APP')
        </script>
    {% endblock %}
{% endblock %}
